@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import "~react-image-gallery/styles/scss/image-gallery.scss";
@import url('https://fonts.googleapis.com/css2?family=Sarala:wght@400;700&family=Square+Peg&display=swap');
.app {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  position: relative;
  letter-spacing: 1px;
}
