.portfolio {
  &__block {
    width: 100%;
    display: flex;
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: black;


  }

  &__boat {
    background-image: url('https://firebasestorage.googleapis.com/v0/b/vip-hamptons-detailing.appspot.com/o/boats%2Fboats-desktop.jpg?alt=media&token=4bbdc032-dd3d-47c4-acfb-e96a7d34a291');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    opacity: 0.25;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: 0.4s ease all;
    &:hover{
      opacity: 0.5;
    }
  }

  &__car {
    background-image: url('https://firebasestorage.googleapis.com/v0/b/vip-hamptons-detailing.appspot.com/o/boats%2Fgalleryhome-2.jpg?alt=media&token=ed2ea9bc-28dd-40da-950e-7ade59537236');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    display: flex;
    opacity: 0.35;
    align-items: center;
    justify-content: center;
    transition: 0.4s ease all;
    &:hover{
      opacity: 0.5;
    }
  }

  &__link {
    text-decoration: none;
  }

  &__subtitle {
    text-transform: uppercase;
    color: white;
  }

  @media (max-width:675px) {
    &__boat {
      background-image: url('https://previews.dropbox.com/p/thumb/ACPOcwNv9LNnNTl0pRx6Q73lB1jQUoeFTw3lOoI2j3ikCCqxRkmtgdvdeUF1-_rDOtubS2TlU2fYbUz1RY-ASAZp1ZNaTfVI_B5qWQ9DCNL_bClY6OPxSMdGsOO83L1xzGd2gLHTWlu1Igp6H5vUIETaEDzBeHbXF2svfH5sRG3fSebkIN1v0-cMbdclB7lbWsFUyfwMWMMGT7Nh2j0WKvS-cEOwPKUkoxZmuaBdvAKXWdf0f6GwL5L5JiBTuQ10Z2KBH9YTwpyWqbDRbus3pZ4aJFwm6Efn9IVSjU-Xo2kMZuslNewG0dV3sgZYGAmDndSUXMYc6QOQGITry_trBmlD/p.jpeg')
    }
    &__car{
      background-image: url('https://previews.dropbox.com/p/thumb/ACPTRR0_uPJXe2L0UA1wKFMgGi7157IKaLDWHr6WQ2q3lNw11MDm4-u0Ht6M9ebvUT8NtX3ToiS1m5Vw6UCPOZvOyDzGudQhJLikFF0nOzFThIS4-2iTovPq9iyH7NYSX6hHjRq-fGtQ7ux9zSki1tf77fxJo4EdVkO--YkpJFZ5QO9VMfI5a8vLXRX9XjJB2HW-wdpOjBNjlMK-jWwLQgr9I5VcTcZG4XjaOnDTIh67UVmhI4OwPUXRSEQ9F6eiecE_M3ecRxKsjmyJXw2d8b8L6ohvbrH0Fz_g6rxO8tkfy4GjKiZRJjWPFGg21vlZl1f9WMoc4ldVCNYD7X2pAQoP/p.jpeg');
    }
  }
}