.portfolio {
  &__block {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(135deg, #fdeb71 10%, #f8d800 100%);
  }
}
